.box-display{
    display: flex;
    flex-wrap: wrap;
}

.template-lists{
    width: 250px;
    height: 250px;
    background:white;
    border: 1px solid;
    border-color: white;
    margin: 2%;
    padding: 20px 10px;
}

.innerClass img{
    width: 100px;
    height: 100px;
    // border:1px solid blue;
}

.template-name{
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.selectOption{
  height: 10px;
}

// .three-dots:after {
//     cursor: pointer;
//     color: #FCC;
//     content: '\2807';
//     font-size: 20px;
//     padding: 0 5px;
//   }
  
//   .dropdown {
//     position: absolute;
//     right: 10px;
//     background-color: #66D;
//     box-shadow: 0px 0px 3px 3px #66D;
//     outline: none;
//     opacity: 0;
//     z-index: -1;
//     max-height: 0;
//     transition: opacity 0.1s, z-index 0.1s, max-height= 5s;
//   }
  
//   .dropdown-container:focus {
//     outline: none;
//   }
  
//   .dropdown-container:focus .dropdown {
//     opacity: 1;
//     z-index: 100;
//     max-height: 100vh;
//     transition: opacity 0.2s, z-index 0.2s, max-height= 0.2s;
//   }